/* https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7 */

/* CSS HEX 
--prussian-blue: #003049;
--maximum-red: #d62828;
--orange: #f77f00;
--maximum-yellow-red: #fcbf49;
--lemon-meringue: #eae2b7;

*/

body {
	background-color: #EAE2B7;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1.25rem 1.25rem 1.25rem;
	font-family: 'Roboto', sans-serif;
}

nav[aria-label="Main"] ul {
	text-align: center;
	padding: .625rem;
}

nav[aria-label="Main"] ul li {
	display: inline-block;
	margin: 0;
}

nav[aria-label="Main"] ul li:last-child {
	margin: 0 0 0 0;
}

nav[aria-label="Main"] ul li a {
	color: #FCBF49;
	background-color: #d62828;
	padding: .625rem 1.25rem;
	text-decoration: none;
	font-weight: bold;
}

#main-nav li a:hover {
	color: #d62828;
	background-color: #FCBF49;
	transition: all 300ms ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Pacifico', cursive;
	margin: 2rem .625rem .625rem .625rem;
}


h1 , 
.headline-1 {
	font-size: 6rem;
	text-align: center;
	color: #D62828;
}

h2 , 
.headline-2 {
	font-size: 4rem;
	text-align: center;
	color: #F77F00;
}

h3 , 
.headline-3 {
	font-size: 3rem;
	text-align: left;
	color: #003049;
}

h4 , 
.headline-4 {
	font-size: 2rem;
	text-align: left;
	color: #003049;
}

.bkg-red-a {
	background-color: #d62828;
}

td ,
th {
	padding: 0 1rem;
	vertical-align: top;
}

.description {
	background-color: #faf7e4;
	padding: 1rem;
	border-radius: .625rem;
}

p , li {
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #003049;

}

.col {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-bottom: 1rem;
	padding: 1rem;
	box-sizing: border-box;
}

.col50 {
	width: calc(50% - 2rem);
	min-height: 400px;
}

.align-left {
	text-align: left;
}


.align-center {
	text-align: center;
}


.align-right {
	text-align: right;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}


.d-inline {
	display: inline;
}

.d-flex {
	display: flex;
}

.m-0-auto {
	margin: 0 auto;
}

.call-to-action {
	background-color: #D62828;
	border: 1px solid #D62828;
	color: #FCBF49;
	border-radius: .625rem;
	margin-top: .625rem;
	margin-bottom: .625rem;
	padding: .625rem 1.25rem;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
	max-width: 200px;
}

.img-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-width: 320px;
  /*max-width: 400px;*/
	height: 260px;
	border: 1px solid #ccc;
	border-radius: .625rem;
  margin: 0 auto;
}

.img-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: none;
	max-height: none;
	width: auto;
	height: 100%;
}

.img-wrapper img.portrait {
	width: 100%;
	height: auto;
}

.img-wrapper img.landscape {
	width: 100%;
	height: auto;
}

.cart-container .img-wrapper img.landscape {
	width: 100%;
	height: auto;
} 


.form-container .contact-img-wrapper {
	padding: 0;
}

.form-container .contact-img-wrapper .img-wrapper {
	min-width: initial;
	max-width: initial;
	border: 0;
	border-bottom: 2px solid #003049;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-container .description {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;	
}

form {
	padding: 0 10%;
}

input ,
label {
	display: block;
	margin: 0 0 .125rem 0;
}

label , 
button , 
input[type="reset"]{
	font-size: 1.2rem;
}

button , 
input[type="reset"]{
	border-radius: .625rem
}

input {
	margin-bottom: 1rem;
}

input[type="text"] , 
input[type="email"] ,
input[type="tel"] , 
textarea {
  display: block;
  margin: 0 auto .8rem auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: .3125rem;
  width: 100%;
}

.button-container {
	padding: .625rem 0;

}

/* Product Page */

.product-container .img-wrapper {
	max-width: initial;
	height: 400px;
}

.product-container .col50 {
  min-height: initial;
  width: calc(50% - 2.2rem);
}


.close-icon {
	width: 20px;
	height: auto;
}

.ratings-icon {
	width: 44px;
	height: auto;
}

.product-ratings ,
.product-price ,
.product-size {
	color: #003049;
	font-size: 1.4rem;
}

.product-price ,
.product-size {
	margin-bottom: 1rem;
}

.thumbnail-container {
	height: 100px;
	width: 100%;
	margin-top: .625rem;
}

.thumbnail-container ul {
	margin-left: 0;
	padding: 0;
}

.thumbnail-container li {
	display: inline-block;
  width: 24%;
  box-sizing: border-box;
}

.thumbnail-container img {
	display: inline-block;
  width: 100%;
  height: auto;
}

.thumbnail-container button.img-wrapper {
	width: 100%;
	min-width: initial;
	min-height: 80px;
	height: initial;
	max-height: initial;
	background-color: transparent;
	border: 0;
	padding: 0;
}

.product-container h2 {
	margin-top: 0;
}

.product-container .description {
	margin-bottom: 1rem;
}

/* /Product Page */

/* Checkout Page */

.cart-container table {
	width: 100%;
	border-spacing: 0;
  border-collapse: separate;
  margin-bottom: 1rem;
}

.cart-container th {
	padding: 1rem;
}

.cart-container th , 
.cart-container td {
	vertical-align: middle;
	background-color: #faf7e4;
}

.cart-container .total-area td {
	background-color: #EAE2B7;
	color: #003049;
}

.cart-container th:first-child {
	border-top-left-radius: .625rem
}

.cart-container th:last-child {
	border-top-right-radius: .625rem
}

.cart-container .total-last-row td:first-child {
	border-bottom-left-radius: .625rem
}

.cart-container .total-last-row td:last-child {
	border-bottom-right-radius: .625rem
}


.cart-container .total-area td {
	padding: .6rem 1rem;
}

.cart-container .total-last-row td {
	border-top: 2px solid #003049;
}

.cart-container .img-wrapper {
	min-width: 100px;
	max-height: 100px;
	border-radius: .625rem;
}

.cart-container .headline-4 {
	margin: 0;
}

.cart-container .product-price ,
.cart-container .product-size {
	margin-bottom: 0;
}

/* /Checkout Page */


@media screen and (min-width: 992px) {
	.img-wrapper img.landscape {
		width: auto;
		height: 100%;
	}
}